body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, red 55%,rgb(212, 138, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;

}

.square {
    border: solid;
    border-width: 1px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255,255,1.0);
}

.column {
    float: left;
    height: 100%;

}

#buttonDiv{
    display: block;
    height: 8vh;
    width: 60%;
    padding-top: 2vh;
    box-sizing: border-box;
    margin: auto;
}

#grid {
    height: 90vh;
    width: 100vh;
    margin: auto;
    background-color: black;
}

button {
    display: inline-block;
    box-sizing:border-box;
    background-color: white;
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    transition: 0.2s;
    height: 4vh;
    font-size: 16px;
    width: 20%;
    margin-right: 4%;
}

button:hover {
    transform: scale(1.2);
    border-color: gold;
}